{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
    <h1 class="header-1-custom"><span style="font-family: Helvetica;"><span style="font-size: 20px;">Суть эксперимента</span></span></h1>
    <p>Вам будут предложены имена и портреты нескольких известных людей. Требуется назвать сферу деятельности этого человека (ту, в которой он наиболее известен). Для прохождения опроса, пожалуйста, нажмите <strong>Опрос</strong> в верхнем меню.</p>
    <h1 class="header-1-custom"><span style="font-family: Helvetica;"><span style="font-size: 20px;">Условия прохождения</span></span></h1>
    <p><strong><em>Опрос займёт у Вас не более 5 мин. Все данные собираются и обрабатываются анонимно и исключительно в исследовательских целях.</em></strong></p>
    <h1 class="header-1-custom"><span style="font-family: Helvetica;"><span style="font-size: 20px;">Статистика</span></span></h1>
    <p>Для просмотра статистики, пожалуйста, нажмите <strong>Статистика</strong> в верхнем меню. <strong><em>Убедительно просим Вас смотреть статистику только после самостоятельного прохождения опроса.</em></strong></p>
{% endblock %}
