{% extends 'base.html' %}

{% block title %} Согласие {% endblock %}

{% block content %}
<form action="/form" method = 'GET'>
    <fieldset>
        <legend><b>Опрос на знание известных личностей</b></legend>
    <p>Вам будут предложены имена и портреты нескольких известных людей. Требуется назвать сферу деятельности этого человека (ту, в которой он наиболее известен). Опрос займёт у Вас не более 5 мин. Все данные собираются и обрабатываются анонимно и исключительно в исследовательских целях.</p>
    Согласны ли Вы пройти опрос?<br>
    <input type="radio" name="ask" value="yes" checked>Да<br>
    <p><input type="submit" value="Далее"></p>
    </fieldset>
</form>
{% endblock %}